<div id="<%= "row_#{item.id}" %>" class="row grid_16">
  <div class="grid_2 text">
    <%= link_to( image_tag(item.pic.url(:thumb)), item.pic.url(:medium), :toptions => "shaded = 1, overlayClose = 1") if item.pic? %>
  </div>
  <div class="grid_5 text"><%= item.name %></div>
  <div class="grid_3 text currency"><%= number_to_currency item.suggested_offer %></div>
  <% if item.bids.any? %>
  <div class="grid_5 text">
    <table border="0" width="100%">
      <% item.bids.each do |bid| %>
      <% @bid = bid %>
      <tr>
        <td class="<%= bid_class(bid) %>"><%= bid.bidder.name %></td>
        <td class="currency <%= bid_class(bid) %>"><%= number_to_currency (bid.offer) %></td>
        <% if authorized? %>
        <td>
          <%= form_for(@bid, :html => {:class => 'accept-reject'}) do |f| %>
          <%= check_box :bid, :accepted? %> Y
          <%= check_box :bid, :rejected? %> N
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="prefix_10">
  <% end %>
  <% unless item.bidding_closed? %>
    <% @bid.offer = nil %>
    <% @bid.bidder = session[:bidder] || Bidder.new %>
    <%= render :partial => "bid_form", :locals  => {:item  => item}  %>
  <% end %>
  <% if item.bids.any? %></div><% end %>
  <div class="clearfix text"><%= link_to_delete('X', item_path(item)+".js", "$('#row_#{item.id}').hide(500, function() {$('#row_#{item.id}').remove()})") if authorized? %></div>
</div>
<div class="clear"></div>
